
  /////boton hamburguesa mobil/////////
  .nav-icon{
    height: 64px;
    width: 64px;
    background:#458c98;
    border-radius: 100%;
    
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    display: none;
    transition: 0.5s;

    span{
        display: block;
        width: 40px;
        height: 6px;
        background: #fff;
        border-radius: 10px;
        margin: 4px;
        transition: 0.5s;
    }

    @include mobile{
        display: flex;
        z-index: 18;
        position: fixed;
        top: 0px;
        right: 0px;
        
    }
  }

  .nav-icon.active{
    transform: rotate(360deg);
  }

  .nav-icon.active span:nth-child(1){
    transform: rotate(45deg) translateX(9px) translateY(9px);
  }
  .nav-icon.active span:nth-child(2){
    opacity: 0;
  }
  .nav-icon.active span:nth-child(3){
    transform: rotate(-45deg) translateX(11px) translateY(-11px);
  }

  .navigation-mobile{
    display: none;
  }

  .menuMovilBlock{
      height: 100%;
      width: 100%;
      background: #458c98;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      z-index: 17;
      position: fixed;
      top: 0px;
      right: 0px;     
      transition: 0.5s;

      .ulMenuMobile{
          padding-top: 40px;
          list-style: none;
          li{
              margin-top: 32px;
              margin-bottom: 32px;
              a{
                color: #fff;
              }
          }
      }
  }

  .idiomas-responsive{
    padding-left: 0 !important;
      a{
        p{
          color: #fff;
        }
      }
  }

  .logo-mobile{
    display: none;
    @include mobile{
      display: flex;
      margin-top: 16px;
      margin-left: -136px;
    }
  }

.nosotros, .nano-gasa, .industrias{
  .nav-icon{
    
    background:transparent;
    
    span{
      display: block;
      width: 40px;
      height: 6px;
      background: #929292;
      border-radius: 10px;
      margin: 4px;
      transition: 0.5s;
    }
  }
  .menuMovilBlock{
    background: #fff;
    

    .ulMenuMobile{
        li{
            a{
              color: #929292;
            }
        }
    }
  }
  .idiomas-responsive{
    padding-left: 0 !important;
      a{
        p{
          color: #929292;
        }
      }
  }
}

.nano-gasa, .industrias{
  
  .menuMovilBlock{
   

    .ulMenuMobile{
      margin-bottom: 0;
        padding-top: 0;
    }
  }
  
}