.industrias-body{
    display: flex;
    justify-content: space-between;
    position: relative;
    @include mobile{
        display: block;
    }
    .box-white{
        width: 30%;
        display: flex;
        background-color: #fff;
        justify-content: flex-start;
        height: 100vh;
        @include mobile{
            display: none;
        }
    }
    .box-image{
        width: 70%;
        display: flex;
        justify-content: center;
        height: 100vh;
        box-shadow: inset 0px 0px 376px rgba(0, 0, 0, 0.1);
        background-blend-mode: multiply;
        background-image: url("../images/contenidos/industries.png");
        background-size: cover;
        background-position: 376px -136px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        @include desktopmin{
            background-position: 224px 0px;
        }
        @include tablet{
            background-position: center;
        }
        @include mobile{
            width: 100%;
            background-position: -152px 0px;
            height: auto;
            box-shadow: inset 0px 0px 176px rgba(0, 0, 0, 0.1);
        }
        .industrias{
            display: none;
            @include mobile{
                display: flex;
                justify-content: center;
                width: 100%;
                height: auto;
                position: relative;
                left: 0;
                top: 0;
                transform: none;
            }
            .nav-bar-nano{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                padding-top: 64px;
                height: 91vh;
                width: 17%;
                @include tablet{
                    width: 25%;
                }
                @include mobile{
                    display: none;
                }
                ul{
                    margin-top: 88px;
                    list-style-type: none;
                    margin-bottom: 0 !important;
                    padding-left: 48px;
                    @include tablet{
                        padding-left: 64px;
                        margin-top: 186px;
                    }
                    @include mobile{
                        display: none;
                    }
                    
                    li{
                        color: #929292;
                        margin: 40px 0;
                        @include tablet{
                            margin: 56px 0;
                        }
                        a{
                            letter-spacing: 2px;
                            color: #929292;
                            font-family: 'Raleway-Medium';
                        }
                        a:hover{
                            font-weight: bold;
                        }
                    
                    }
                }
                
            }
            .li-active{
                list-style: none;
                color: #929292;
                position: relative;
                font-weight: bold;
                 &:before{
                    content: "";
                    height: 1px;
                    background: #929292;;
                    display: block;
                    position: absolute;
                    bottom: -2px;
                    width: 100%;
                    left: 0;
                }
            }
            .li-normal{
                list-style: none;
                position: relative;
                &:before{
                    width: 2em;
                    left: -2.5em;
                    content: "";
                height: 1px;
                background: #929292;;
                display: block;
                position: absolute;
                bottom: 0;
                }
            }
            .industrias-content{
                width: 83%;
                height: 91vh;
                display: flex;
                justify-content: center;
                position: relative;
                @include tablet{
                    width: 75%;
                }
                @include mobile{
                    width: 100%;
                    height: auto;
                    margin-top: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 120px;
                }
            
                .idiomas{
                    display: flex;
                    position: absolute;
                    top: 64px;
                    right: 48px;
                    @include mobile{
                        display: none;
                    }
                    a{
                        p{
                            color: #fff;
                            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                            @include tablet{
                                font-size: 17px;
                            }
                        }
                    }
                }
                .nosotros-inner{
                    display: flex;
                    flex-direction: column;
                    width: 70%;
                    margin-top: 80px;
                    margin-left: 40px;
                    @include desktopmin{
                        width: 70%;
                        margin-left: 128px;
                    }
                    @include tablet{
                        margin-top: 152px;
                        margin-left: 128px;
                        width: 90%;
                    }
                    @include mobile{
                        padding-right: 0px;
                        width: 92%;
                        margin-bottom: 0px;
                        margin-top: 32px;
                        margin-left: 0px;
                    }
            
                    .title-nano{
                        color: #fff;
                        font-size: 3.9rem;
                        margin: 0;
                        letter-spacing: 2px;
                        font-weight: normal;
                        font-family: 'Raleway-Light';
                        line-height: 1;
                        
                        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
                        @include mobile{
                            font-size: 3rem;
                        }
                    }
                    .subtitle-nano{
                        color: #fff;
                        font-weight: bold;
                        margin-top: 16px;
                        font-size: 1.3rem;
                        letter-spacing: 2px;
                        font-family: 'Raleway-ExtraBold';
                        
                        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    
                        @include tablet{
                            margin-top: 24px;
                        }
                        @include mobile{
                            margin-top: 8px;
                        }
                    }
                    .text-content{
                        font-family: 'Raleway-Regular';
                        margin-top: 24px;
                        width: 48%;
                        color: #fff;
                        font-weight: bold;
                        text-shadow: 2px 3px 7px rgba(0, 0, 0, 0.8);
                        @include desktopmin{
                            width: 70%;
                        }
                        @include tablet{
                            width: 82%;
                        }
                    }
            
                }
            }
        }
    }
    
    .industrias-content{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        @include mobile{
            display: none;
        }

        .nav-bar-nano{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding-top: 64px;
            height: 91vh;
            width: 17%;
            @include tablet{
                width: 25%;
            }
            @include mobile{
                display: none;
            }
            ul{
                margin-top: 88px;
                list-style-type: none;
                margin-bottom: 0 !important;
                padding-left: 48px;
                @include tablet{
                    padding-left: 64px;
                    margin-top: 186px;
                }
                @include mobile{
                    display: none;
                }
                
                li{
                    color: #929292;
                    margin: 40px 0;
                    @include tablet{
                        margin: 56px 0;
                    }
                    a{
                        letter-spacing: 2px;
                        color: #929292;
                        font-family: 'Raleway-Medium';
                    }
                    a:hover{
                        font-weight: bold;
                    }
                
                }
            }
            
        }
        .li-active{
            list-style: none;
            color: #929292;
            position: relative;
            font-weight: bold;
             &:before{
                content: "";
                height: 1px;
                background: #929292;;
                display: block;
                position: absolute;
                bottom: -2px;
                width: 100%;
                left: 0;
            }
        }
        .li-normal{
            list-style: none;
            position: relative;
            &:before{
                width: 2em;
                left: -2.5em;
                content: "";
            height: 1px;
            background: #929292;;
            display: block;
            position: absolute;
            bottom: 0;
            }
        }
        .nosotros-content{
            width: 83%;
            height: 91vh;
            display: flex;
            justify-content: flex-end;
            position: relative;
            @include tablet{
                width: 75%;
            }
            @include mobile{
                width: 100%;
                height: auto;
                margin-top: 0;
                display: flex;
                flex-direction: column;
            }
        
            .idiomas{
                display: flex;
                position: absolute;
                top: 64px;
                right: 48px;
                @include mobile{
                    display: none;
                }
                a{
                    p{
                        color: #fff;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                        @include tablet{
                            font-size: 17px;
                        }
                    }
                }
            }
            .nosotros-inner{
                display: flex;
                flex-direction: column;
                width: 42%;
                margin-top: 72px;
                margin-left: 0;
                @include desktopmin{
                    width: 70%;
                    margin-left: 128px;
                    margin-top: 224px;
                }
                @include tablet{
                    margin-top: 152px;
                    margin-left: 128px;
                    width: 90%;
                }
                @include mobile{
                    padding-right: 24px;
                    width: 92%;
                    margin-bottom: 144px;
                    margin-top: 32px;
                }
        
                .title-nano{
                    color: #fff;;
                    font-size: 3.9rem;
                    margin: 0;
                    letter-spacing: 2px;
                    font-weight: normal;
                    font-family: 'Raleway-Light';
                    line-height: 1;
                    @include mobile{
                        font-size: 2rem;
                    }
                }
                .subtitle-nano{
                    color: #fff;;
                    font-weight: bold;
                    margin-top: 16px;
                    margin-bottom: 8px;
                    font-size: 1.3rem;
                    letter-spacing: 2px;
                    font-family: 'Raleway-ExtraBold';

                    @include tablet{
                        margin-top: 24px;
                    }
                    @include mobile{
                        margin-top: 8px;
                    }
                }
                .text-content{
                    font-family: 'Raleway-Regular';
                    margin-top: 24px;
                    width: 100%;
                    color: #fff;;
                    font-weight: bold;
                    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
                    @include desktopmin{
                        width: 70%;
                    }
                    @include tablet{
                        width: 70%;
                    }
                }
        
            }
        }
    }
}

.sub-menu{
    margin-top: 0 !important;
    padding-left: 0 !important;
    list-style: none;
    li{
        margin: 16px 0 !important;
    }
}