.neuralmove{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-image: url("../images/contenidos/nanogasa.png");
    background-size: cover;
    background-repeat: no-repeat;
	background-attachment: fixed;
	@include tablet{
		background-position: center;
	}
	@include mobile{
		height: auto;
    }
    .nav-bar-nano{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 64px;
        height: 91vh;
        width: 17%;
        @include tablet{
            width: 25%;
        }
        @include mobile{
            display: none;
        }
            
    
        ul{
            margin-top: 88px;
                    list-style-type: none;
                    margin-bottom: 0 !important;
                    padding-left: 48px;
                    @include tablet{
                        padding-left: 64px;
                        margin-top: 186px;
                    }
                    @include mobile{
                        display: none;
                    }
            
            li{
                            color: #929292;
                            margin: 40px 0;
                            @include tablet{
                                margin: 56px 0;
                            }
                            a{
                                letter-spacing: 2px;
                                color: #929292;
                                font-family: 'Raleway-Medium';
                            }
                            a:hover{
                                font-weight: bold;
                            }
            
            }
        }
        
    }
    .li-active{
            list-style: none;
            color: #929292;
            position: relative;
            font-weight: bold;
            &:before{
                content: "";
                height: 1px;
                background: #929292;
                display: block;
                position: absolute;
                bottom: -2px;
                width: 100%;
                left: 0;
            }
    }
    .li-normal{
        list-style: none;
        position: relative;
        &:before{
        width: 2em;
        left: -2.5em;
        content: "";
        height: 1px;
        background: #929292;
        display: block;
        position: absolute;
        bottom: 0;
        }
    }
}

.neural-content{
    width: 83%;
    
	height: 91vh;
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	@include tablet{
		width: 75%;
	}
	@include mobile{
		width: 100%;
		height: auto;
		margin-top: 0;
		display: flex;
		flex-direction: column;
    }

	.idiomas{
		display: flex;
		position: absolute;
		top: 64px;
		right: 48px;
		@include mobile{
			display: none;
		}
		a{
			p{
                color: #fff;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
				@include tablet{
                    font-size: 17px;
                    color: #929292;;
                    text-shadow: none;
                }
                
            }
            
		}
    }
    .neural-container{
        display: flex;
        width: 100%;
        flex-direction: column;
        padding-left: 120px;
        @include tablet{
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            padding-left: 0;
        }
        @include mobile{
            padding: 0;
        }

        .neural-logo{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            margin-top: 152px;
            img{
                height: 64px;
                margin-left: 0;
                margin-bottom: 40px;
                @include tablet{
                    margin-left: 96px;
                }
                @include mobile{
                    margin: 0;
                }
            }
            @include tablet{
                margin-top: 160px;
            }
            @include mobile{
                margin-top: 40px;
                width: 88%;
            }
        }
        .neural-inner{
            display: flex;
            flex-direction: column;
            width: 67%;
            margin-bottom: 0;
            @include tablet{
                margin-left: 0;
                width: 77%;
                margin-bottom: 64px;
                align-items: flex-start;
                margin-left: 56px;
               
            }
            @include mobile{
                padding-right: 0;
                align-items: center;
                width: 92%;
                margin-bottom: 56px;
                margin-top: 32px;
                margin-left: 0;
            }
    
            .text-content{
                margin-top: 0;
                width: 90%;
                color: black;
                font-size: 12px;
                font-family: 'Raleway-Medium';
                @include tablet{
                    width: 91%;
                }
                @include mobile{
                    width: 95%;
                    text-align: center;
                }
            }
            button{
                background: transparent;
                border: 1px solid #000;
                text-transform: uppercase;
                padding: 10px 2em;
                color: #000;
                border-radius: 0;
                font-size: 14px;
                font-family: 'Raleway-Medium';
                font-weight: normal;
                margin-bottom: 0;
                margin-top: 16px;
                max-width: 168px;
            }
            button:hover{
                background: #8dedf8;
                border: 1px solid #8dedf8;
                color: #fff;
            }
    
        }
    }
    .neural-product{
        margin-top: 0;
        width: 100%;
        display: flex;
        height: auto;
        justify-content: flex-end;
        img{
            width: auto;
            height: 200px;
            margin-bottom: 0;
            @include tablet{
                height: 120px;
                margin-bottom: 0;
            }
            @include mobile{
                height: 96px;
            }
        }
        @include tablet{
            width: 70%;
            height: 224px;
            justify-content: flex-end;
            padding-right: 24px;
        }
        @include mobile{
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }
}

.neural-mano{
    position: absolute;
    top: 0;
    right: 0;
    height: 340px;
    width: auto;

    @include tablet{
        display: none;
    }
    @include mobile{
        display: none;
    }
}